:root {
    --main-dark: #212b38;
    --light-dark: #37465b;
    --light: #f9f9f9;
    --react-color: #53C1DE;
    --redux-color: #764ABC;
    --saga-color: #89D96D;
    --git-color: #F05133;
}


body {
    background-color: var(--main-dark);
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 50px;
}

/* HEADER */

header {
    height: 100px;
    font-size: 50px;
    text-align: center;
    padding: 25px;
    color: var(--light);
}

/* CARD STYLES */
.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    border-radius: 18px;
    background-color: var(--light-dark);
    width: 33%;
    max-width: 350px;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

}

.card img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.card p {
    font-size: 44px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card a {
    text-transform: uppercase;
    text-decoration: none;

    font-size: 20px;
}

.card .card__button {
    background-color: var(--light);
    width: auto;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    padding: 10px;
}

.card .card__button:hover {
    transition: 0.3s;
}

.card a:hover {
    color: var(--light);
}

.card--react,
.card--react a {
    color: var(--react-color);
}

.card--react .card__button:hover {
    background-color: var(--react-color);
    transition: 0.3s;
}

.card--redux,
.card--redux a {
    color: var(--redux-color);
}

.card--redux .card__button:hover {
    background-color: var(--redux-color);
    transition: 0.3s;
}

.card--saga,
.card--saga a {
    color: var(--saga-color);
}

.card--saga .card__button:hover {
    background-color: var(--saga-color);
    transition: 0.3s;
}

.card--git,
.card--git a {
    color: var(--git-color);
}

.card--git .card__button:hover {
    background-color: var(--git-color);
    transition: 0.3s;
}

/* TEXT STYLES */

.text-block {
    border-radius: 25px;
    min-height: 300px;
    color: var(--light);
    font-size: 24px;
    padding: 25px;
    margin: 25px;
}

.text-block--react,
.link--react {
    background-color: var(--react-color);
}

.text-block--redux,
.link--redux {
    background-color: var(--redux-color);
}

.text-block--saga,
.link--saga {
    background-color: var(--saga-color);
}

.text-block--git,
.link--git {
    background-color: var(--git-color);
}

/* LINKS STYLES*/
#section-3>p {
    font-size: 36px;
    color: var(--light);
    text-align: center;
}

.link-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link {
    max-width: 400px;
    width: 25%;
    min-width: 200px;
    text-decoration: none;
    color: white;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 10px;
}

/* FOOTER */
footer {
    background-color: var(--light-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

footer a {
    text-decoration: none;
    color: var(--light);
    padding: 0 25px;
}

@media (max-width: 1366px) {
    header {
        font-size: 36px;
    }

    .card p {
        font-size: 28px;
    }

    .card a {
        font-size: 18px;
    }

    .text-block {
        font-size: 18px;
    }

    .link {
        font-size: 18px;
    }

    #section-3>p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    header {
        font-size: 32px;
    }

    .card p {
        font-size: 28px;
    }

    .card a {
        font-size: 16px;
    }

    .text-block {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
    }

    #section-3>p {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    header {
        font-size: 30px;
    }

    .card p {
        font-size: 24px;
    }

    .card a {
        font-size: 14px;
    }

    .text-block {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
    }

    #section-3>p {
        font-size: 20px;
    }
}